

  <%= form_for(cartship, :html => { :id => cartship.id} ) do |f| %>

    <tr>
      <td><%= cartship.product.id %></td>
      <td><%= cartship.product.name %></td>

      <%# form_for cartship, :url => {:controller => 'cartships', :action => 'update', id: cartship} do |f| %>
      <td>
        <%# f.hidden_field cartship, :value=> :quantity %>
        <%= f.number_field :quantity %>
        <%# f.submit "Update", :onclick => "$('#edit_cartship_#{cartship.id}').submit()" %>
        <%# f.submit "Update", :onclick => "MyFunction();" %>
        <%= f.submit "Update" %>

        <script type="text/javascript">
          function MyFunction(){
            alert('Hollaa');
            $('#<%= cartship.id %>').submit();
          }
        </script>
        <%# link_to 'submit', update_cart_cartship_path(cartship), :onclick => "$('edit_cartship_#{cartship.id}').submit()" %>
        <%# link_to "Atualizar", update_cart_cartship_path(cartship, qtd_param: 33 ) %>

        <%# f.button  "Submit" ,  name: "foo_param",value: :quantity %>
        <%# f.button  :submit , name: "subaction",value: "update"%>
        <!-- :method=> "someButton" -->

        <%# link_to "Update", :controller => 'cartships', :action => 'update' %>
      </td>

      <%# end %>

      <td><%= number_to_currency(cartship.product.price, unit: 'R$ ') %></td>
      <td><%= number_to_currency(cartship.product.price * cartship.quantity, unit: 'R$ ') %></td>
      <td><%= link_to 'Excluir', cartship, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
