<p id="notice"><%= notice %></p>

<h1>Carrinho</h1>
<h3>Status: <%= @cart.status %></h1>
<h3>Código Pedido: <%= @cart.id %></h1>



<table>
  <tr>
    <th>Código Produto</th>
    <th>Nome Produto</th>
    <th>Quantidade</th>
    <th>Price</th>
    <th>Total</th>
    <th>Atualizar</th>
    <th>Excluir</th>
  </tr>


  <% @cart.cartships.each do |cartship| %>
    <tr>
      <td><%= cartship.product.id %></td>
      <td><%= cartship.product.name %></td>

      <%= form_for cartship, :url => {:controller => 'cartships', :action => 'update', id: cartship} do |f| %>
      <td>
        <%= f.number_field :quantity, :value => cartship.quantity %>
        <%# f.submit "Update" %>
        <%= button_tag "Update" %>
        <%# link_to "Update", :controller => 'cartships', :action => 'update' %>
      </td>

      <!-- <script type="text/javascript">
      function formSubmit(){
        alert('submit');
        document.getElementById("edit_cartship_<%= cartship.id %>").submit();
        window.location.href="/carts/<%= @cart.id %>";
      }
      </script> -->

      <% end %>

      <!-- <td><input type="number" name="" value="<%# cartship.quantity %>" style="width: 70px;"></td> -->
      <!-- <td><%# cartship.number_field :quantity %></td> -->
      <td><%= number_to_currency(cartship.product.price, unit: 'R$ ') %></td>
      <td><%= number_to_currency(cartship.product.price * cartship.quantity, unit: 'R$ ') %></td>
      <td><%= link_to 'Excluir', cartship, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3"><b>Total</b></td>
    <td><%= number_to_currency(@cart.total_price, unit: 'R$ ') %></td>
  </tr>
</table>

<p><%= link_to "Voltar", products_path %></p>
