<h1>Teste</h1>

<table>
  <tr>
    <th>Nome Produto</th>
    <th>Quantidade</th>
    <th>Price</th>
    <th>Total</th>
    <th>Excluir</th>
  </tr>
  <% @cart.cartships.each do |cartship| %>
    <tr>
      <td><%= cartship.product.name %></td>
      <td><%= cartship.quantity%></td>
      <td><%= number_to_currency(cartship.product.price) %></td>
      <td><%= number_to_currency(cartship.product.price * cartship.quantity) %></td>
      <td><%= link_to 'Excluir', cartship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3">Total</td>
    <td><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>
