<h1>Checkout <%= @product.name %></h1>
<table border="1" width="100%">
  <thead>
    <tr>
      <th style="text-align: left;">Produto</th>
      <th style="width: 10%">Preço</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.name %></td>
      <td><%= number_to_currency @product.price, unit: 'R$ ' %></td>
    </tr>
    <tr>
      <th style="text-align: right;">Total:</th>
      <td><strong> <%= number_to_currency @product.price, unit: 'R$ ' %></strong></td>
    </tr>
  </tbody>
</table>
<%= button_to 'Checkout', buy_product_path(@product), method: :patch %>
