<!DOCTYPE html>
<html>
  <head>
    <title>Addcart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="float: right; margin-top: 30px; margin-right: 5px;">
      <% if @cart.present? %>
        <%= link_to number_to_currency(@cart.total_price), @cart %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
